################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UrlShortener/.vs/UrlShortener.slnx
/UrlShortener/UrlShortener/obj
/UrlShortener/UrlShortener.Tests/obj
/UrlShortener/UrlShortener/bin/Debug/net8.0
/UrlShortener/UrlShortener.Tests/bin/Debug/net8.0
/UrlShortener/UrlShortener/UrlShortener.csproj.user
/UrlShortener/react-url-shortener/node_modules
/UrlShortener/dotnet-tools.json
